@page "/Parent2"
<h3>Parent2</h3>

<CascadingValue Name="Message" Value="@("Hello From Parent El Kibber")">
    <CascadingValue Name="no" Value="10">
        <Child2_1></Child2_1>
    </CascadingValue>
</CascadingValue>


<Child2_1></Child2_1>
@code {
//    public string hello { get; set; } = "sgdjahgs";
}
