@page "/Parent"
<h3>Parent1</h3>
<Child1 Message="Hello" Color="REd" ></Child1>
@*<Child1 Message="Welcome" Color="Green"></Child1>
<Child1 Message="Bye" Color="Blue"></Child1>
*@

@code {
    public Person p { get; set; }
    public Parent1()
    {
        //p = new Person() { Id = 1, Name = "ahmed" };
    }
}
